.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  width: 320px;
  height: 100%;
}

.contenedor {
  background-color: #061943;
  border-radius: 10px;
}

.submit {
  background-color: #00906f;
}

label {
  color: #a0aec0;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: auto;
}

input {
  border: 1px solid #8397bc;
  padding: 5px;
  color: #8397bc;
  background-color: transparent;
}

.nosubmit {
  background-color: transparent;
  border: 1px solid #00906f;
  color : #00906f;
  font-weight: bold;
  }

.inputstatic {
    background-color: #8296b5;
    color: #061943;
    font-weight: bold;
}
select {
  border: 1px solid #8397bc;
  padding: 5px;
  color: #8397bc;
  background-color: transparent;
}
select option {
  background-color: #fff; 
  color: #333; 
}

input[type="date"]::-webkit-calendar-picker-indicator {
filter: invert(1);
}

.carita{
  display: flex; 
  align-items: center; 
  justify-content: center;
}
span img{
  width: 30px;
  margin-right: 5px;
}