.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}



.logo {
  width: 320px;
  height: 100%;
}

.contenedor {
  background-color: #061943;
  border-radius: 10px;
  max-width: 720px;
  width: 90%;
}

.submit {
  background-color: #00906f;
}

label {
  font-weight: bold;
  color: #a0aec0;
  margin-left: 5px;
  margin-top: 5px;
}

input {
  border: 1px solid #8397bc;
  padding: 5px;
  color: #8397bc;
  background-color: transparent;
}

.nosubmit {
  background-color: transparent;
  border: 1px solid #00906f;
  color : #00906f;
  }

.inputstatic {
    background-color: #8296b5;
    color: #061943;
}

select option {
  background-color: #fff; 
  color: #333; 
}

input[type="date"]::-webkit-calendar-picker-indicator {
filter: invert(1);
}
